
.dataTables_filter {
    left: 47%;
    margin: -63px 0 28px 25px;
    position: absolute;
}
.dataTables_filter>label {
    margin-bottom: 0;
    position: relative
}
.dataTables_filter>label:after {
    content: "\e98e";
    font-family: icomoon;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #999;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.DTFC_LeftBodyWrapper .DTFC_Cloned thead th:after,
.DTFC_LeftBodyWrapper .DTFC_Cloned thead th:before,
.DTFC_RightBodyWrapper .DTFC_Cloned thead th:after,
.DTFC_RightBodyWrapper .DTFC_Cloned thead th:before,
.dataTables_scroll .dataTables_scrollBody table thead th[class*=sorting]:after,
.dataTables_scroll .dataTables_scrollBody table thead th[class*=sorting]:before {
    content: none
}
.dataTables_filter>label>span {
    float: left;
    margin: 8px 15px 8px 0
}
.dataTables_filter input {
    outline: 0;
    width: 200px;
    height: 36px;
    padding: 7px 34px 7px 12px;
    font-size: 13px;
    line-height: 1.5384616;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px
}
.filter-right .dataTables_filter {
    float: right
}
.dataTables_info {
    float: left;
    padding: 8px 0;
    margin-bottom: 20px;
    /*width: 50%;*/
    text-align: right;
}
.info-right .dataTables_info {
    float: right
}
.dataTables_paginate {
    float: right;
    text-align: right;
    margin: 0 0 20px 20px
}
.dataTables_paginate .paginate_button {
    display: inline-block;
    padding: 7px 12px;
    min-width: 36px;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
    border: 1px solid transparent;
    border-radius: 3px
}
.dataTables_scroll .dataTables_scrollBody table,
.dataTables_scroll .dataTables_scrollHead table,
.panel>.dataTables_wrapper .table-bordered>tbody>tr:last-child>td,
.panel>.dataTables_wrapper .table-bordered>tbody>tr:last-child>th {
    border-bottom: 0
}
.dataTables_paginate .paginate_button:first-child {
    margin-left: 0
}
.dataTables_paginate .paginate_button:focus,
.dataTables_paginate .paginate_button:hover {
    background-color: #f5f5f5
}
.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:focus,
.dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    background-color: #455A64
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.disabled:focus,
.dataTables_paginate .paginate_button.disabled:hover {
    cursor: default;
    background-color: transparent;
    color: #bbb
}
.paginate-left .dataTables_paginate {
    float: left
}
.paging_simple .paginate_button:focus,
.paging_simple .paginate_button:hover {
    color: #fff;
    background-color: #455A64
}
.dataTables_scroll .dataTables_scrollBody {
    -webkit-overflow-scrolling: touch
}
.dataTables_scroll .dataTables_scrollBody table tbody tr:first-child>td {
    border-top: 0
}
.panel-body+.dataTables_wrapper,
.panel-flat>.panel-heading+.dataTables_wrapper {
    border-top: 1px solid #ddd
}
.dataTables_scroll .dataTables_scrollBody td>.dataTables_sizing,
.dataTables_scroll .dataTables_scrollBody th>.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0
}
.panel-body>.dataTables_wrapper .datatable-footer .dataTables_filter,
.panel-body>.dataTables_wrapper .datatable-footer .dataTables_info,
.panel-body>.dataTables_wrapper .datatable-footer .dataTables_length,
.panel-body>.dataTables_wrapper .datatable-footer .dataTables_paginate {
    margin-bottom: 0
}
.panel>.dataTables_wrapper .table-bordered {
    border: 0
}
.panel>.dataTables_wrapper .table-bordered>tbody>tr>td:first-child,
.panel>.dataTables_wrapper .table-bordered>tbody>tr>th:first-child,
.panel>.dataTables_wrapper .table-bordered>tfoot>tr>td:first-child,
.panel>.dataTables_wrapper .table-bordered>tfoot>tr>th:first-child,
.panel>.dataTables_wrapper .table-bordered>thead>tr>td:first-child,
.panel>.dataTables_wrapper .table-bordered>thead>tr>th:first-child {
    border-left: 0
}
.panel>.dataTables_wrapper .table-bordered>tbody>tr>td:last-child,
.panel>.dataTables_wrapper .table-bordered>tbody>tr>th:last-child,
.panel>.dataTables_wrapper .table-bordered>tfoot>tr>td:last-child,
.panel>.dataTables_wrapper .table-bordered>tfoot>tr>th:last-child,
.panel>.dataTables_wrapper .table-bordered>thead>tr>td:last-child,
.panel>.dataTables_wrapper .table-bordered>thead>tr>th:last-child {
    border-right: 0
}
.datatable-scroll,
.datatable-scroll-lg,
.datatable-scroll-sm {
    min-height: .01%
}
.datatable-scroll-wrap {
    width: 100%;
    min-height: .01%;
    overflow-x: auto
}
@media (max-width: 1024px) {
    .datatable-scroll {
        width: 100%;
        overflow-x: scroll
    }
    .datatable-scroll td,
    .datatable-scroll th {
        white-space: nowrap
    }
}
@media (max-width: 1199px) {
    .datatable-scroll-lg {
        width: 100%;
        overflow-x: scroll
    }
    .datatable-scroll-lg td,
    .datatable-scroll-lg th {
        white-space: nowrap
    }
}
@media (max-width: 768px) {
    .datatable-scroll-sm {
        width: 100%;
        overflow-x: scroll
    }
    .datatable-scroll-sm td,
    .datatable-scroll-sm th {
        white-space: nowrap
    }
    .ColVis,
    .DTTT_container,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_length,
    .dataTables_paginate {
        float: none!important;
        text-align: center;
        margin-left: 0
    }
    .dataTables_info,
    .dataTables_paginate {
        margin-top: 0
    }
    .datatable-header {
        text-align: center
    }
    .DTFC_LeftWrapper,
    .DTFC_RightWrapper {
        display: none
    }
}
